<h1>Bonjour {{ nom }}!</h1>

<p>Merci de vous être inscrit sur notre application Multimag (Gestion des produits)</p>
<p>
    Veuillez confirmer votre adresse email ({{ mail }}):
</p>
<p>Cliquez sur le lien ci-dessous</p>

<p>
    <a href={{lien}}>{{ lien }}</a>
</p>

<p>L'équipe Dalena</p>