.navTable{
    background: #f0f0f0;

    >div{
        border-right: solid 0.1rem #ddd ;
        border-bottom: solid 0.1rem #ddd ;
        cursor: pointer;
    }
}

.action, .footerTable{
    background: white;
    border: solid 0.1rem #ddd ;
}

table{
    min-width: 100%;
    border-collapse: collapse;
    border: solid 1px black;

    td, tr, th
    {
        border: solid 0.1rem #ddd;
    }
    tr>td, tr>td>tr{
        border: none;
    }
    td, th{
        max-width: 100%;
        height: auto;
    }
    td{
        background: white;
        min-width: 25px;
        width: 70px;
       
    }
    th, th.action {
        background: #eee;
    }
}

.subsku, .modifier{
    cursor: pointer;
}

.modifier{
    border: solid 1px green;
}

.imgListTab{
    width: 30%;
    display: block;
    margin: auto;
}

.table{

    position: relative;
    height: auto;
    overflow-x: auto;
    margin-bottom: 0;

    thead{
        position: sticky;
    }
    .detailSku{ 
        min-width: 30px; 
        width: 25px;
        position: sticky;
        left: 0px;
        z-index: 2;
    }
    .sku{ 
        min-width: 75px;
        width: 50px;        
        position: sticky;
        left: 30px;
    }
    .status{
        position: sticky;
        right: 77px;
    }
    .action{
        min-width: 50px;
        width: 50px;
        position: sticky;
        right: 0;
    }    
}
